.navbar {
  position: sticky;
  top: 0;
  width: 80%;
  background: linear-gradient(135deg, rgba(15,12,41,0.9), rgba(48,43,99,0.9), rgba(36,36,62,0.9));  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 20px;
  font-weight: 700;
  color: #000a24; /* Navy */
  letter-spacing: 1px;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #a7bbfc; /* text white for better contrast */
  background: rgba(37, 37, 75, 0.767); /* dark teal/navy button bg */
  padding: 8px 20px; /* button padding */
  border-radius: 8px; /* rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* subtle shadow */
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background: rgb(44, 37, 117); /* aqua accent on hover */
  color: #ffffff; /* keep text readable */
  transform: translateY(-2px); /* subtle lift effect */
  box-shadow: 0 6px 16px #6e8cee
}

/* Mobile responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* later we can add hamburger menu */
  }
}
